<div class="category-header-inner">
    <div class="category-title-container">
        {{#unless theme_settings.hide_category_image_on_categories}}
        {{#if category.image}}
        <div class="category__image-container" style="display: none">
            {{> components/common/responsive-img
            image=category.image
            class="category__image"
            fallback_size=theme_settings.zoom_size
            lazyload=theme_settings.lazyload_mode
            }}
        </div>
        {{/if}}
        {{/unless}}
        <h1 class="category__title">{{category.name}}</h1>
            {{#if category.total_products '!==' 0}}
        <span class="category__title-count">
            {{#if category.count '<' category.total_products}}
                ({{lang 'category.showing_some' count=category.count total=category.total_products}})
            {{else}}
                ({{lang 'category.showing_all' quantity=category.total_products}})
            {{/if}}
        </span>
        {{/if}}
        {{#if category.description}}
        <div class="category__description">
            {{{region name="above_category_description"}}}
            {{{category.description}}}
            {{{region name="below_category_description"}}}
        </div>
        {{/if}}

    </div>
    <div class="filter-container desktop">
        <div class="category-options">
            {{#if category.show_compare}}
            <a class="button category-compare" style="display: none" href="{{urls.compare}}" data-compare-nav>{{lang 'common.compare'}} <span class="countPill countPill--alt"></span></a>
            {{/if}}

            {{> components/products/filter sort=pagination.category.sort}}

            <div class="show-style">
                {{#unless theme_settings.hide_product_count_on_category}}
                {{> components/f/category/show-amount}}
                {{/unless}}

                {{> components/f/grid-list-switcher/switcher}}
            </div>
        </div>
    </div>
</div>
