<div class="body {{#if page_type '===' 'product'}}body--product-page{{/if}} {{#if page_type '===' 'category'}} is-category-page{{/if}}" data-currency-code="{{currency_selector.active_currency_code}}">
    {{#if page_type '===' 'category'}}
        <div class="container">
            {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
        </div>
        <div class="container">
            <div class="category__header" id="headerTitleContainer">
                <div class="category-header-inner">
                    <div class="category-title-container">
                        {{#unless theme_settings.hide_category_image_on_categories}}
                        {{#if category.image}}
                        <div class="category__image-container" style="display: none">
                            {{> components/common/responsive-img
                            image=category.image
                            class="category__image"
                            fallback_size=theme_settings.zoom_size
                            lazyload=theme_settings.lazyload_mode
                            }}
                        </div>
                        {{/if}}
                        {{/unless}}
                        {{> components/f/category/header-title}}

                    </div>
                    <div class="filter-custom-group">
                        <a href="#facetedSearch-navList" role="button" class="facetedSearch-toggle toggleLink" data-collapsible>
                            <div class="facetedSearch-toggle-icon">
                                <svg>
                                    <use xlink:href="#icon-filter"></use>
                                </svg>
                            </div>
                            <span class="facetedSearch-toggle-text">{{lang 'search.faceted.filters'}}</span>
                        </a>
                        <div class="filter-container">
                            <div class="category-options">
                                {{#if category.show_compare}}
                                <a class="button category-compare" style="display: none" href="{{urls.compare}}" data-compare-nav>{{lang 'common.compare'}} <span class="countPill countPill--alt"></span></a>
                                {{/if}}

                                {{> components/products/filter sort=pagination.category.sort}}

                                <div class="show-style">
                                    {{#unless theme_settings.hide_product_count_on_category}}
                                    {{> components/f/category/show-amount}}
                                    {{/unless}}

                                    {{> components/f/grid-list-switcher/switcher}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}

    {{#block "hero"}} {{/block}}
    <div class="{{#if page_type '!==' 'product'}}container{{/if}} {{#or (if page_type '===' 'category') (if page_type '===' 'brand') (if page_type '===' 'search')}}category category--{{theme_settings.product_list_display_mode}}{{/or}}">
        {{#block "page"}} {{/block}}
    </div>
    {{> components/common/modal}}
    {{> components/common/alert-modal}}
</div>

{{#if theme_settings.show_customer_recent_items}}
    {{#or (if page_type '===' 'category') (if page_type '===' 'brand') (if page_type '===' 'search')}}
        {{> components/f/category/recent-items}}
    {{/or}}
{{/if}}
