
.globalBanner {
    background-color: stencilColor("global_banner_backgroundColor");
    border-top: container("border");
    color: stencilColor("global_banner_foregroundColor");
    padding: spacing("base");
    text-align: center;
}

.globalBanner-label {
    display: inline-block;
    font-size: fontSize("smallest");
    padding: 0 spacing("base");

    @include breakpoint("medium") {
        font-size: fontSize("smaller");

        + .globalBanner-label {
            border-left: container("border");
            border-color: rgba(stencilColor("global_banner_foregroundColor"), 0.5);

            .slick-track & {
                border: none;
            }
        }
    }
}

.globalBanner-icon {
    margin-right: remCalc(5);
}

.before-footer-region {
    background: $color-white;
    [data-sub-layout] {
        padding: 0;
    }
}

.section-image-group {
    padding: 40px 0 30px;
    position: relative;
    .section-image {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        img {
            width: auto;
        }
    }

    &.three-banner {
        &.background-full-width {
            padding: 40px 0 30px;
        }
        @include breakpoint("medium") {
            &.background-full-width {
                padding: 50px 0 30px;
            }
            .image-container {
                width: 32%;
            }
        }
    }

    &.background-full-width {
        background: $color-grey1;
        padding: 30px 0 50px;
        width: 100vw;
        left: 50%;
        right: 50%;
        position: relative;
        margin-left: -50vw;
        margin-right: -50vw;
        margin-top: 0;
    }

    &.popular-categories {
        .image-inner {
            padding: 0 15px;
        }

        .section-image {
            padding: 0 20px;
        }
        .section-title {
            padding: 0 0 30px;
        }

        @media  screen and (max-width: 767px) {
            padding: 30px 0 30px;
            .slick-next {
                right: -20px;
            }
            .slick-prev {
                left: -20px;
            }
        }

        @include breakpoint("medium") {
            .section-title {
                padding: 20px 0 50px;
            }
            .section-image {
                padding: 0 40px;
            }
        }
    }

    &.slider-enabled {
        position: relative;
        .image-slider-container {
            width: 100%;
        }
        .image-inner {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    a {
        text-decoration: none;
        display: inline-block;
        width: auto;
    }


    .item-background {
        width: 300px;
        height: 300px;
        display: flex;
        background-size: cover;
        background-repeat: no-repeat;
        justify-content: center;
        align-items: center;
        color: $color-white;
        font-size: remCalc(24px);
        line-height: remCalc(29px);
        font-weight: $fontWeight-semibold;
        padding: 15px;

        @include breakpoint("medium") {
            width: 250px;
            height: 250px;
        }

        @media screen and (max-width: 1440px) {
            width: 200px;
            height: 200px;
        }

        @media screen and (max-width: 767px) {
            width: 300px;
            height: 300px;
        }
    }

    .section-title {
        font-size: remCalc(20px);
        line-height: remCalc(32px);
        padding: 20px 0 40px;
        font-weight: $fontWeight-semibold;
    }

    .image-container {
        width: 47.5%;
        padding-bottom: 20px;

        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0
        }
    }
    @include breakpoint("medium") {
        .section-image {
            display: flex;
            justify-content: space-between;
        }
        .image-container {
            width: 18.5%;
        }
        .section-title {
            font-size: $section-title__font-size;
            line-height: $section-title__line-height;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        .section-image-group {
            .section-image {
                .image-container {
                    width: 48%;
                }
            }
        }
    }
}
