$carousel-arrow-hover-color: stencilColor("carousel-arrow-hover-color");
$product-title__fonts-size: 22px;
$product-title__line-height: 27px;
$product-section__margin: 30px;

.body--product-page {
  margin-bottom: 0;
  margin-top: 0;
  z-index: 1;

  @include breakpoint("medium") {
    margin-bottom: 0;
  }

  .upsell {
    background: stencilColor("product-view-background");

    .alertBox {
      margin: 0;
    }

    + .upsell {
      padding-bottom: spacing("half");
      padding-top: spacing("half");
    }
  }

  .productView-options {
    .form {
      .rfq-pdp-button-container.rfq-button-container {
        display: none;
      }
    }
  }
  .form-increment {
    max-width: 185px;
  }
  .form-cardAdd {
    align-items: center;
  }

  .productView-description {
    .productView-table,
    .content {
      margin-top: 20px;
      font-size: $fontSize-xl;
      font-weight: $fontWeight-semibold;
    }
    .productView-title {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0;
      font-size: $fontSize-xl;
      cursor: pointer;
      font-weight: $fontWeight-bold;
      &.active {
        &:after {
          transform: rotate(-90deg);
        }
      }

      &:after {
        content: '';
        background: url('../img/next-black.svg') no-repeat center/cover;
        width: 15px;
        height: 15px;
        display: inline-block;
      }
      &:hover {
        &:after {
          background: url('../img/next-black-grey.svg') no-repeat center/cover;
        }
      }
    }
  }
  @include breakpoint(1024px) {
    .productView-description {
      max-width: var(--description-width);
      margin-left: var(--description-margin-left);
    }
  }
}

.productView {
  background: stencilColor("container-fill-base");
  margin: 0;
  padding: 0;
  padding: spacing("single") * 1.2 0;

  @include breakpoint("medium") {
    padding: spacing("double") 0;
  }



  .productView-inner {
    max-width: layout("max") + ($container-padding * 4);
    margin: auto;
    width: 100%;

    @include breakpoint("medium") {
      display: flex;
      justify-content: space-between;
    }
  }

  &::after,
  &::before {
    display: none;
  }

  .productView-brand {
    font-weight: $fontWeight-semibold;
    &.second {
      font-size: $fontSize-xl;
    }
    &.first {
      background: $color-grey1;
      padding: 15px;
      font-size: $fontSize-xsl;
      margin-bottom: $product-section__margin;

      a {
        text-decoration: none;
        &:after {
          content: '';
          background: url('../img/next-black.svg') no-repeat center/cover;
          display: inline-block;
          width: 20px;
          height: 12px;
          margin-left: 10px;
        }

        &:hover {
          color: stencilColor("color-textLink");
          &:after {
            background: url('../img/next-black-grey.svg') no-repeat center/cover;
          }
        }
      }
    }
  }

  .productView-title {
    font-size: $product-title__fonts-size;
    line-height: $product-title__line-height;
    margin-top: 0;
    text-align: left;
    margin-bottom: $product-section__margin;
  }

  .productView-rating {
    align-items: center;
    display: flex;
    margin-bottom: spacing("quarter");
    a {
      color: $color-primary;
    }
    .icon {
      margin-right: spacing("eighth") / 2;

      + .productView-reviewLink {
        margin-left: spacing("half");
      }
    }
  }

  .productView-reviewLink {
    margin-left: 0;
    margin-right: spacing("half");
    font-weight: $fontWeight-semibold;
  }

  .productView-reviewLink > a {
    color: stencilColor("color-textLink");
  }

  .productView-availability {
    color: stencilColor("color-textBase");
    font-size: $fontSize-root;
    margin-bottom: 0;
  }

  .productView-details {
    float: none;
    margin-bottom: 0;
    padding: 0;

    &.productView-details--header {
      margin-bottom: 0;

      @include breakpoint("large") {

        .productView-price {
          display: block;
          margin-top: spacing("single");
        }
      }
    }
  }

  .productView-product {
    padding-bottom: spacing("double");

    @include breakpoint("small") {
      padding-bottom: 0;
      margin-bottom: spacing("single");
    }

    dl {
      margin-bottom: 0;
    }
  }

  .productView-info-name {
    float: left;
    font-size: $fontSize-xl;
    font-weight: $fontWeight-semibold;
    margin-bottom: 0;

    &:first-child {
      margin-top: 0;
    }
  }
  .productView-rating {
    border: 2px solid stencilColor("color-primary");
    border-right: 0;
    border-left: none;
    padding: 20px 0;
    color: stencilColor("color-primary");
  }
  .productView-info {
    border-top: 2px solid  stencilColor("color-primary");
    padding: 20px 0;
    margin-top: spacing("single");
    margin-bottom: 0;

    @include breakpoint("large") {
      padding-right: spacing("double");
    }
  }

  .productView-info-value {
    font-size: $fontSize-xl;
    margin-bottom: 0;
    color: stencilColor("color-primary");

    &.productView-info-value--short-description {
      a {
        display: block;
        margin-top: spacing("half");
      }
    }
    &.productView-info-value--sku {
      font-weight: normal;
    }
  }

  .productView-info-name,
  .productView-info-value {
    color: stencilColor("color-primary");
    font-weight: $fontWeight-semibold;
  }

  .price-section {
    margin-bottom: 30px;
  }

  .buy-section {
    border: container("border");
    padding: spacing("single");

    .price-section {
      margin-bottom: spacing("half");
    }

    .buy-section-price {
      display: none;
    }
  }

  .productView-options {
    margin-bottom: 1.5rem;
    text-align: left;

    .form {
      margin-bottom: 0;

      .button {
        @include breakpoint("small") {
          margin-bottom: 0;
        }
      }
    }

    .form-field {
      margin-bottom: spacing("half");

      &.form-field--stock {
        margin-bottom: spacing("half");
      }
    }

    .form-option-swatch {
      border-color: stencilColor("color-greyLight");

      &:hover {
        border-color: stencilColor("color-textLink");
      }
    }

    .form-radio:checked + .form-option-swatch {
      border-color: stencilColor("color-textLink");
      box-shadow: 0 0 0 1px stencilColor("color-textLink");
    }
  }

  .dropdown-menu-button {
    &:hover {
      svg {
        fill: stencilColor("card-wishlist-icon-color");
      }
    }

    svg {
      fill: stencilColor("button--default-color");
    }
  }

  .dropdown-menu.is-open {
    background-color: stencilColor("navUser-dropdown-backgroundColor");
    border: 1px solid stencilColor("navUser-dropdown-borderColor");
    left: auto !important;
    max-width: 100%;
    padding-right: 0;
    top: calc(100% - 1px) !important;
    width: 100%;

    &:before {
      @include css-triangle(
        $triangle-direction: "bottom",
        $triangle-size: 10px,
        $triangle-color: stencilColor("navUser-dropdown-borderColor")
      );
      bottom: 100%;
      position: absolute;
      right: spacing("half");
    }

    &:after {
      @include css-triangle(
        $triangle-direction: "bottom",
        $triangle-size: 8px,
        $triangle-color: stencilColor("navUser-dropdown-backgroundColor")
      );
      bottom: 100%;
      position: absolute;
      right: spacing("half") + remCalc(2px);
    }

    li:first-of-type {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    li:last-of-type {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    .button {
      border: 0;
      border-radius: 0;
      width: 100%;
    }
  }

  .productView-images {
    float: none;
    margin-bottom: spacing("single");

    @include breakpoint("medium") {
      width: 70%;
      padding: 0 spacing("single") 0 0;
    }

    @include breakpoint("large") {
      display: flex;
      padding: 0 spacing("half") * 3 0 0;
    }

    @include breakpoint("large") {
      margin-bottom: 0;
    }
  }

  .sticky-product {
    width: 100%;
    overflow: hidden;
    display: flex;
  }

  .product-image-stage {
    display: flex;
    width: calc(100% - 140px);
    .productView-img-container {
      max-width: 100%;
      text-align: center;
      padding: 30px;

      @include breakpoint("medium") {
        padding: 30px;
      }

      img {
        max-width: 550px;
        margin: 0 auto;
      }
    }
  }
  .product-image-nav {
    width: 120px;
    min-width: 120px;
    max-width: 120px;
  }
  .productView-image {
    margin: 0;
    width: 100%;
    display: block;
    min-height: 100%;

    @include breakpoint("large") {
      order: 1;
    }
  }

  .productView-thumbnails {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: spacing("base") * 2;
    margin-top: spacing("single");
    max-height: remCalc(500px);
    justify-content: center;

    .productView-thumbnail {
      &.slick-active.slick-current {
        .productView-thumbnail-link {
          border: 1px solid stencilColor("color-primary");
        }
      }
    }

    @media screen and (max-width: 800px) {
      width: 100%;
    }

    @include breakpoint("medium") {
      margin-bottom: 0;
    }

    @include breakpoint("medium") {
      flex-flow: column;
      margin-top: 0;
      margin-right: spacing("half");
      justify-content: start;
    }

    .slick-list {
      @include breakpoint("medium") {
        margin: spacing("single") * 1.5 0;
      }
    }

    .slick-track {
      display: block;
    }

    .slick-arrow {
      margin-top: -4px;

      @include breakpoint("medium") {
        margin-top: 0;
      }
    }

    .slick-next,
    .slick-prev {
      @include breakpoint("medium") {
        margin-top: 0;
      }
    }

    .slick-prev {
      @include breakpoint("medium") {
        left: 50%;
        top: -10px;
        transform: translateX(-50%) rotate(90deg);
      }
    }

    .slick-next {
      @include breakpoint("medium") {
        bottom: -10px;
        left: 50%;
        right: 0;
        top: auto;
        transform: translateX(-50%) rotate(90deg);
      }
    }
  }

  .productView-thumbnail {
    float: none;

    &:last-of-type {
      .productView-thumbnail-link {
        margin-right: 0;
      }
    }
  }

  .productView-thumbnail-link {
    height: get-height(stencilString("productview_thumb_size"));
    margin-right: spacing("half");
    width: get-width(stencilString("productview_thumb_size"));

    @include breakpoint("large") {
      margin-right: 0;
    }

    &.is-active,
    &:hover {
      border-color: stencilColor("color-textLink");
    }
  }

  .productView-price {
    margin-bottom: 0;

    .card-tags {
      margin-bottom: spacing("half");
      position: relative;
      right: 0;
      top: 0;

      .card-tag {
        text-align: left;
      }
    }
  }

  .form-label--alternate {
    margin-bottom: spacing("quarter");
  }

  .form-label--swatch {
    color: stencilColor("color-textBase");
    font-size: $fontSize-base;
    font-weight: $fontWeight-semibold;

    small {
      font-size: $fontSize-tiny;
    }

    small,
    span {
      font-weight: $fontWeight-normal;
    }
  }

  .form-label--stock {
    color: stencilColor("card-inStockColor");
    margin-bottom: 0;
    font-size: $fontSize-small;
  }

  .form-label--low-stock {
    color: $color-warning;
    margin-bottom: 0;
    font-size: $fontSize-small;
  }

  .form-label--out-of-stock {
    color: stencilColor("card-outStockColor");
    margin-bottom: 0;
    font-size: $fontSize-small;
  }

  .productView__stock {
    font-size: $fontSize-small;
    font-weight: $fontWeight-semibold;
    margin-bottom: 0;
  }

  .form-action {
    padding: 0;

    @include breakpoint("small") {
      padding: 0 spacing("third") 0 0;
    }

    @include breakpoint("medium") {
      padding: 0;
    }
    @include breakpoint("large") {
      margin-bottom: 0;
      width: 100%;
    }

    .button {
      @include breakpoint("large") {
        margin-bottom: 0;
        margin-right: 0;
        width: 100%;
      }
    }
  }

  .form-wishlist {
    padding: 0;

    @include breakpoint("small") {
      padding: 0 0 0 spacing("third");
    }

    @include breakpoint("medium") {
      padding: 0;
    }

    .dropdown-menu {
      .button {
        color: stencilColor("color-textLink");
        text-decoration: underline;
      }
    }
  }

  .cart-add-container {
    display: flex;

    .productView-info-bulkPricing {
      flex: 0 1 auto;
      padding-left: spacing("half");
    }
  }
}

.productView-title {
  font-size: $h2-font-size;
  font-weight: $fontWeight-semibold;
  margin: spacing("single") 0 spacing("quarter");
  text-align: center;

  &.productView-title--reviews {
    border: 0;
    font-size: $fontSize-small;
    margin-top: 0;
    padding: 0;
    text-align: left;
    margin-bottom: spacing("single");
  }
}

.productView-description {
  background: stencilColor("container-fill-base");
  border-top: 2px solid stencilColor("primary");
  clear: none;
  float: none;
  padding: spacing("single") 0;
  width: 100%;

  .productView-title {
    border: 0;
    font-size: $fontSize-small;
    margin-top: 0;
    padding: 0;
    text-align: left;
  }

  p {
    strong {
      font-size: $fontSize-smaller;
    }
  }
  &:last-child {
    border-bottom: 2px solid stencilColor("primary");
  }
}

.productView-table {
  border: 1px solid #e1e1e1;
  text-align: left;
  width: 100%;

  @include breakpoint("small") {
    border: 0;
  }

  .productView-table-row {
    display: flex;
    flex-flow: row wrap;
    width: 100%;

    @include breakpoint("small") {
      border-bottom: container("border");
      border-left: container("border");
      border-right: container("border");
    }

    &:first-of-type {
      @include breakpoint("small") {
        border-top: container("border");
      }
    }
  }

  .productView-table-data,
  .productView-table-header {
    padding: spacing("eighth") * 1.5 spacing("half");
    width: 100%;
  }

  .productView-table-header {
    background: stencilColor("table-header-bg");
    font-weight: $fontWeight-semibold;

    @include breakpoint("small") {
      width: 25%;
    }
  }

  .productView-table-data {
    @include breakpoint("small") {
      width: 75%;
    }
  }
}

.productView-carousel {
  .productView-title {
    margin: spacing("single") 0;
    text-align: left;
    text-transform: uppercase;
    font-size: $section-title__font-size_mobile;
    line-height: $section-title__line-height_mobile;
  }

  @include breakpoint("medium") {
    .productView-title {
      margin: 70px 0 spacing("single");
      font-size: $section-title__font-size;
      line-height: $section-title__line-height;
    }
  }

  .slick-dots {
    bottom: auto;
    position: relative;
  }
}

.productReviews-list {
  background: stencilColor("container-fill-base");
  box-shadow: 0 0 1px 0 rgba(#000000, 0.5);
  margin: 0;
  padding: spacing("single");

  .pagination {
    margin-top: spacing("single");
  }
}

.productReview {
  border-bottom: container("border");
  padding: spacing("half") 0 0;
  width: 100%;

  @include breakpoint("medium") {
    padding-top: spacing("single");
  }

  &:first-of-type {
    padding-top: 0;
  }
}

.productReview-author {
  font-size: $fontSize-smallest;
  margin-bottom: spacing("third");
}

.productReview-rating {
  display: flex;
  margin-bottom: spacing("eighth");

  .icon {
    margin-right: spacing("eighth") / 2;
  }
}

.productReview-title {
  font-size: $fontSize-smaller;
  margin-bottom: spacing("single") * 0.1;
}

.modal-body.quickView {
  background: stencilColor("product-view-background");
  padding: 0;

  .productView-inner {
    padding: spacing("double") spacing("single") spacing("single");

    @include breakpoint("medium") {
      padding: spacing("double") * 1.5 spacing("double") spacing("double");
    }
  }

  .container {
    padding: 0 spacing("single") spacing("single");

    @include breakpoint("medium") {
      padding: 0 spacing("double") spacing("double");
    }
  }

  .productView-description {
    box-shadow: none;
    margin: 0;
    padding: 0;
  }

  .productView-img-container {
    @include breakpoint("large") {
      height: 100%;
    }

    &::after {
      @include breakpoint("large") {
        display: none;
      }
    }
  }
}

.previewCart {
  .productView-details {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 800px) {
  .productView {
    .product-image-nav {
      width: 480px;
      min-width: 480px;
      margin: 30px auto 0;
      max-width: 480px;
    }
  }
}
@media screen and  (max-width: 800px) {
  .productView {
    .sticky-product {
      flex-direction: column-reverse;
    }
    .product-image-stage {
      margin: 0 auto;
      width: 100%;
    }
    .productView-thumbnail {
      float: left;
      width: 100px;
    }
    .productView-rating {
      border-bottom: 0;
    }
    .productView-thumbnails {
      display: block;
      .slick-arrow {
        top: 55%
      }
      .slick-prev {
        left: -30px;
      }
      .slick-next {
        right: -30px;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .productView {
    .product-image-nav {
      max-width: 100%;
      width: 100%;
      min-width: 100%;
      padding: 0 30px;
    }

    .productView-thumbnails {
      .slick-arrow {
        top: 65%
      }
    }

    .productView-thumbnail-link {
      width: auto;
      height: auto;
      margin: 30px 0 0;
      img {
        position: static;
        width: 100%;
        height: auto;
      }
    }
  }
}
