---
category:
    shop_by_price: true
    products:
        limit: {{theme_settings.categorypage_products_per_page}}
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{#unless theme_settings.performance_mode_swatches}}
    {{inject "enableSwatches" theme_settings.show_swatches_on_grid}}
    {{inject "enableSizes" theme_settings.show_sizes_on_grid}}
{{/unless}}
{{inject "enableImageHoverSwitcher" theme_settings.enable_image_hover_switcher}}
{{inject "productCount" category.count}}
{{inject "productTotal" category.total_products}}
{{inject "enableInfiniteScrolling" theme_settings.enable_infinte_scrolling}}
{{inject "enableSideCart" theme_settings.enable_side_cart}}
{{inject "disableMinicart" theme_settings.enable_side_cart}}
{{inject "displayMode" theme_settings.product_list_display_mode}}
{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}

{{{snippet 'categories'}}}

<div class="page-sidebar" id="faceted-search-container">
    {{> components/category/sidebar}}
</div>



<div class="page--full-width page--{{theme_settings.product_list_display_mode}}" data-sticky-container="true">
    <main class="page-content{{#if theme_settings.enable_side_cart}} side-cart-enabled{{/if}}" id="product-listing-container">
        {{#and category.subcategories theme_settings.show_subcategories_as_grid}}
            {{> components/f/category/sub-categories}}
        {{/and}}

        {{#if category.products}}
            {{> components/f/category/product-listing settings=../settings}}
        {{else}}
            {{#if theme_settings.show_subcategories_as_grid}}
                {{#unless category.subcategories}}
                    <p class="no-product">{{lang 'categories.no_products'}}</p>
                {{/unless}}
            {{else}}
                <p class="no-product">{{lang 'categories.no_products'}}</p>
            {{/if}}
        {{/if}}
        <div class="looking-for-block mobile">
            <div class="content-inner">
                <div class="block-title">
                    Can’t find what you’re looking for?
                </div>
                <div class="cta">
                    <a href="/contact-us/">
                        <span>Contact Us</span>
                    </a>
                </div>
            </div>
        </div>
    </main>

    {{#if theme_settings.enable_side_cart}}
        {{> components/f/b2b/side-cart enable_sticky=true}}
    {{/if}}
</div>
{{/partial}}
{{> layout/base}}
