body {
  [data-brand-name="null"] {
    display: none;
  }
}
.is-home {
  .page {
    max-width: 100%;
  }
  .breadcrumbs{
    display: none;
  }
  [data-sub-layout] {
    padding-right: 0;
    padding-left: 0;
  }
  .body {
    margin-bottom: 0;
  }
}
