<li class="navUser-item navUser-item--cart">
    <a
        class="navUser-action"
        data-cart-preview
        data-dropdown="cart-preview-dropdown"
        data-options="align:right"
        href="{{urls.cart}}">
        <span class="navUser-item-cartLabel">
            <img src="{{cdn  'img/header/cart-icon.svg' }}" data-hover-src="{{cdn 'img/header/cart-icon-hover.svg' }}" width="45" height="46" alt="Cart Icon" />
            <span class="cartLabel"></span>
        </span>
        <span class="countPill countPill--positive cart-quantity">{{cart.quantity}}</span>
    </a>

    <div class="dropdown-menu" id="cart-preview-dropdown" data-dropdown-content aria-autoclose="false" aria-hidden="true">
        <div class="side-cart side-cart-container">
            <div class="side-cart-title">{{lang 'b2b.side_cart.cart'}}</div>
            <div class="side-cart-content"></div>
            <div class="side-cart-details"></div>
            <div class="side-cart-actions"></div>
        </div>
    </div>
</li>
